<div id="studentDashboardPartial" class="col m-3 bg-light">
        <h2 class="shadow-none p-3 mb-3 bg-secondary rounded">Student Dashboards</h2>
        <div>
            <h3>Your Exercises</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Feedback</th>
                </tr>
                </thead>
                <tbody id="dashboardcontent">
                {{#each user.exercisebooks as |item i| }}
                <tr>
                    <td>{{i}}</td>
                    <td><a href='/exercise/{{item.id}}'>{{item.topic}}</a></td>            
                    <td>{{item.grade}}</td>
                    <td>{{item.feedback}}</td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div>
            <button type="button m-3" class="btn btn-primary" id="createNewArticle" onclick="changePage('exercise')">Create New Exercise</button>
        </div>
    </div>